.gradle
/local.properties
.DS_Store
/build
/.idea/*
!/.idea/copyright/
!/.idea/scopes/
/.old
/captures
/gradle
*.iml
*.patch
target
/projectFilesBackup*
/cyborg-api-ai
*/**/build
/test-script.sh
*/src/main/java/com/nu/art/cyborg/media/*