[submodule "_wiki"]
	path = _wiki 
	url = git@github.com:nu-art/cyborg-core.wiki.git 
	branch = master 
	branch = master 
	branch = master 
	branch = master 
	branch = master 
	branch = master 
	branch = master 
	branch = master 
	branch = master 
[submodule "cyborg-core"]
	path = cyborg-core 
	url = git@github.com:nu-art/cyborg-core.git 
	branch = master 
	branch = master 
	branch = master 
	branch = master 
[submodule "cyborg-video-demo"]
	path = cyborg-video-demo 
	url = git@github.com:nu-art/cyborg-video-demo.git 
	branch = master 
[submodule "cyborg-x"]
	path = cyborg-x 
	url = git@github.com:nu-art/cyborg-core.git 
	branch = support_androidx 
[submodule "dev-tools"]
	path = dev-tools 
	url = git@github.com:nu-art/dev-tools.git 
	branch = master 
	branch = master 
	branch = master 
	branch = master 
	branch = master 
[submodule "local-storage"]
	path = local-storage 
	url = git@github.com:nu-art/local-storage.git 
	branch = master 
	branch = master 
[submodule "module-manager"]
	path = module-manager 
	url = git@github.com:nu-art/module-manager.git 
	branch = master 
[submodule "nu-art-core"]
	path = nu-art-core 
	url = git@github.com:nu-art/nu-art-core.git 
	branch = master 
[submodule "nu-art-io"]
	path = nu-art-io 
	url = git@github.com:nu-art/nu-art-io.git 
	branch = master 
[submodule "payment-core"]
	path = payment-core 
	url = git@github.com:nu-art/payment-core.git 
	branch = master 
[submodule "payment-stripe"]
	path = payment-stripe 
	url = git@github.com:nu-art/payment-stripe.git 
	branch = master 
[submodule "reflection"]
	path = reflection 
	url = git@github.com:nu-art/reflection.git 
	branch = master 

