.gradle
/local.properties
.DS_Store
/build
/.idea/*
.trash
/.old
/captures
*.iml
*.patch
target
/projectFilesBackup*
/cyborg-api-ai
*/**/build
/test-script.sh
move-github.sh
error.tmp
/unity-poc/Library
/unity-poc/Temp
/unity-poc/Logs
/unity-poc/obj
/unity-poc/Builds
/unity-poc/.utmp
/unity-poc/UserSettings