[submodule "automation-agent"]
	path = automation-agent 
	url = git@bitbucket.org:TacB0sS/automation-agent.git 
	branch =  master 
[submodule "automation-core"]
	path = automation-core 
	url = git@bitbucket.org:TacB0sS/automation-core.git 
	branch =  master 
[submodule "automation"]
	path = automation 
	url = git@bitbucket.org:nu-art-cyborg/automation.git 
	branch =  master 
[submodule "belog"]
	path = belog 
	url = git@github.com:nu-art/belog.git 
	branch =  master 
[submodule "cyborg-bluetooth"]
	path = cyborg-bluetooth 
	url = git@github.com:nu-art/cyborg-bluetooth.git 
	branch =  master 
[submodule "cyborg-core"]
	path = cyborg-core 
	url = git@github.com:nu-art/cyborg-core.git 
	branch =  master 
[submodule "cyborg-demo-app"]
	path = cyborg-demo-app 
	url = git@bitbucket.org:nu-art-cyborg/cyborg-demo-app.git 
	branch =  master 
[submodule "cyborg-firebase"]
	path = cyborg-firebase 
	url = git@github.com:nu-art/cyborg-firebase.git 
	branch =  master 
[submodule "cyborg-google-analytics"]
	path = cyborg-google-analytics 
	url = git@github.com:nu-art/cyborg-google-analytics.git 
	branch =  master 
[submodule "cyborg-maps"]
	path = cyborg-maps 
	url = git@github.com:nu-art/cyborg-maps.git 
	branch =  master 
[submodule "dev-tools"]
	path = dev-tools 
	url = git@github.com:nu-art/dev-tools.git 
	branch =  master 
[submodule "generic-processor"]
	path = generic-processor 
	url = git@github.com:nu-art/generic-processor.git 
	branch =  master 
[submodule "http-module"]
	path = http-module 
	url = git@github.com:nu-art/http-module.git 
	branch =  master 
[submodule "logcat-viewer-android"]
	path = logcat-viewer-android 
	url = git@bitbucket.org:nu-art-cyborg/logcat-viewer-android.git 
	branch =  master 
[submodule "module-manager"]
	path = module-manager 
	url = git@github.com:nu-art/module-manager.git 
	branch =  master 
[submodule "nu-art-core"]
	path = nu-art-core 
	url = git@github.com:nu-art/nu-art-core.git 
	branch =  master 
[submodule "payment-core"]
	path = payment-core 
	url = git@bitbucket.org:nu-art-cyborg/payment-core.git 
	branch =  master 
[submodule "payment-stripe"]
	path = payment-stripe 
	url = git@bitbucket.org:nu-art-cyborg/payment-stripe.git 
	branch =  master 
[submodule "reflection"]
	path = reflection 
	url = git@github.com:nu-art/reflection.git 
	branch =  master 

