<!--
  ~  Copyright (c) 2015 to Adam van der Kruk (Zehavi) AKA TacB0sS - Nu-Art Software
  ~  Restricted usage under Binpress license
  ~
  ~  For more details go to: http://cyborg.binpress.com/product/cyborg/2052
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nu.art.software.cyborg.demo">

    <application
        android:allowBackup="true"
        android:name=".CyborgDemoApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nu.art.software.cyborg.ui.ApplicationLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
