<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017 to Adam van der Kruk (Zehavi) AKA TacB0sS - Nu-Art Software
  ~
  ~ This software code is not an 'Open Source'!
  ~ In order to use this code you MUST have a proper license.
  ~ In order to obtain a licence please contact me directly.
  ~
  ~ Email: adam.vdk@nu-art-software.com
  -->

<manifest
    package="com.nu.art.cyborg.payment.stripe"
    >

</manifest>