<!--
  ~ Copyright (c) 2017 to Adam van der Kruk (Zehavi) AKA TacB0sS - Nu-Art Software
  ~
  ~ This software code is not an 'Open Source'!
  ~ In order to use this code you MUST have a proper license.
  ~ In order to obtain a licence please contact me directly.
  ~
  ~ Email: adam.vdk@nu-art-software.com
  -->

<manifest
    package="com.nu.art.cyborg.demo"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".CyborgDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQDmYD6Eyth8wCiYDtAqLGL2rmxr_hnXc"
            />

        <receiver
            android:name="com.nu.art.cyborg.modules.apps.AppsStatusReceiver"
            android:enabled="true"
            tools:replace="android:enabled"
            />

        <service android:name=".ui.controllers.servicesTypeHandling.ServiceV1_Sticky"/>
        <service android:name=".ui.controllers.servicesTypeHandling.ServiceV1_Foreground"/>

    </application>

</manifest>
